@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    font-family: 'Mulish', sans-serif;
}
body{
    padding: 50px 100px;
}
/* shared styles */
:root {
    --primary-color: #FF5400;
    --secondary-color:#424247;
}
.btn-primary{
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--primary-color);
    border: none;
    outline: none;
    padding: 15px 25px;
    color: #FFF;
    font-weight: 800;
    cursor: pointer;
    transition: transform 1s, 1s;
}
.btn-primary:hover{
    transform: scale(1.05);
    background-color: rgba(5, 65, 5, 0.906);
    
}
h1{
    font-size: 4rem;
    font-weight: 800;
}
h2{
    color: #131318;
    font: size 2.5rem;;
    font-weight: 800;
}
h3{
    font-family: Mulish;
    font-size: 1.75Rem;
    font-weight: 800;
}
h4{
    font-size: 1.2rem;
    font-weight: 400;
}
p{
    color: #363637d3;
    font-size: 1rem;
}

/* Navbar related styles */
nav{
    margin-bottom: 50px;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: white;
    padding: 12px 20px;
}



.menu{
    display: flex;
}
.menu li{
    padding-left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(70, 64, 64);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    transition: transform 0.5s;
    font-weight: 600;
}
.menu li a:hover{
    transform: scale(1.1);
    color: gray;
}
.home-btn {
    color: var(--primary-color);
}
.open-menu,
.close-menu{
    position: absolute;
    color: #424247;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top:20px;
    right: 20px;
}
#check{
    display: none;
}

nav ul li a{
    text-decoration: none;
    margin-right: 2.5rem;
    font-weight: 400px;
    color: var(--secondary-color);
}

span{
    color: var(--primary-color);
}

.logo img{
    width: 32px;
}
.logo div{
    display: inline;
    font-size: 2rem;
    font-weight: 700;
}


/* Banner realted styles */
.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url('Images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    min-width: 1170px;
    min-height: 500px;
    text-align: center;
    color: #FFF;
    padding-top: 85px;
}
.banner-items{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(228, 219, 219, 0.177), rgba(211, 211, 226, 0.205));
    padding: 10px;
    width: 64%;
    margin: 0 auto;
    border-radius: 20px;
}
.banner h1,.banner p, .banner div{
    margin-bottom: 10px;
}
.banner-items button{
    width: 174px;
    height: 52px;
    margin-left: 10px;
}
.options, .banner-items input{
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    color: #131318;
    padding: 10px;
    border: none;
    margin-left: 8px;
}
.banner>p{
    color: #FFF;
}
/*  main related styles */

main{
    margin-left: 20px;
}

/* popolar tour related styles */
.popular-tour{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.popular-tour div{
    padding: 1rem;
    width: 45%;
    /* border: 1px solid silver; */
}
.popular-tour ul{
    margin-left: 25px;
}
.popular-tour h2, .popular-tour p, .popular-tour ul, .popular-tour button{
    margin-bottom: 20px;
}
.popular-tour ul li{
    margin-bottom: 10px;
}
.hill-image img{
    max-height: 500px;
    max-width: 500px;
}

/* your destination related styles */
.destination{
    margin-top: 50px;
}
.destination>div{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.img-container-1{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 5.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    flex-shrink: 0;
}
.img-container-2{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 8.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    flex-shrink: 0;
    
}
.img-container-3{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 6.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    flex-shrink: 0;
}
.img-container-4{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 7.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    flex-shrink: 0;
}
.img-container-5{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 9.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 274px;
    height: 286px;
    flex-shrink: 0;
}
.img-container-6{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 11.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    flex-shrink: 0;
}
.img-container-7{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('Images/Rectangle\ 10.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    flex-shrink: 0;
}




/* destnations */
.destination{
    margin-top: 50px;
}
.destination div div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.destination div div h2{
    color: #FFF;
}
.destination>h2, .destination>p{
    text-align: center;
    margin: 30px 200px;
}
/* Customer related styles */
.customer{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.customer h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.customer h5{
    margin-bottom: 15px;
}
.customer-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 2px solid green; */
    place-items: center;
    gap: 2rem;
}
.customer .card{
    border: 2px solid rgba(255, 222, 173, 0.238);
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: rgba(19, 19, 24, 0.05);
}
.customer .card img{
    width: 100px;
    height: 100px;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
}
/* Why choose us realted styles */

.why-choose-us{
    /* border: 2px solid rebeccapurple; */
    /* display: none; */
    text-align: center;
    margin: 50px auto;
}
.why-choose-us>h2, .why-choose-us>p{
    text-align: center;
    margin-bottom: 30px;
}

.card-containter{
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    min-height: 400px;
}
.card-rows{
    display: flex;
    /* border: 2px dashed salmon; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.card{
    /* border: 2px dashed green; */
    flex-shrink: 0;
    border-radius: 16px;
    /* border: 1px solid rgba(41, 206, 246, 0.20); */
    background: rgba(41, 205, 246, 0.337);
    width: 40%;
    height: 100%;
    text-align: start;
    padding: 35px;
}
.card img{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}
.card img, 
.card h3, 
.card p{
    margin-bottom: 12px;
}

.neswletter{
    display: flex;
    /* border: 3px dashed gainsboro; */
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.subscribe{
    border-radius: 16px;
    border: 1px solid #f2dbcf;
}
.subscribe h2,
.subscribe p{
    margin-bottom: 20px;
    margin-top: 25px;
}
.subscribe-content{
    padding: 10px 30px;
    /* border: 1px solid gainsboro; */
}
.subscribe input{
    width: 90%;
    height: 50px;
    border-radius: 8px;
    background: rgba(41, 205, 246, 0.337);
    padding: 10px 20px;
    flex-shrink: 0;
    margin-bottom: 20px;
    border: none;

}
.subscribe-btn{
    margin-bottom: 30px;
    width: 90%;
    height: 50px;
}
.save-btn{
    position: relative;
    top: -143px;
    right: -171px;
    transform: rotate(-30deg);
    color: #FFF;
    transition: transform 2s;
}
.save-btn:hover{
    transform: rotate(360deg);
}
.save-travell img{
    margin-top: 80px;
    height: 380px;
}

/* footer related styles */
footer{
    /* display: none; */
    background: rgba(41, 205, 246, 0.337);
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: -100px;
    margin-right: -100px;
    margin-bottom: -50px;
}
.footer{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
.footer div{
    margin-top: 30px;
}
.icons i{
    margin-left: 20px;
    transition: transform 1s;
}
.icons i:hover{
    transform: scale(1.2);
}

hr {
    border: 1px solid #cccccc4a;
    width: 600%;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: -390px;
  }



/* discount related styles */
.discount{
    margin: 50px auto;
}
.discount>h2, .discount>p{
    text-align: center;
    margin: 20px;
}
.disc-card-container-2,
.disc-card-container-1{
    background-color: #424247;
    margin-bottom: 20px;
    width: 90%;
    padding: 3rem;
    border-radius: 16px;
}
.disc-card-container-1{
    background-image: url('Images/Group\ 40.png');
}
.disc-card-container-2{
    background-image: url('Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.disc-card-container-2 .disc-card{
    margin-left: 470px;
}
.discount .disc-card{
    width: 48%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 16px;
}
.disc-card h3,
.disc-card p{
    margin-bottom: 1rem;
}
.card-heading{
    display: flex;
}
.card-heading p{
    margin-left: 4px;
    margin-right: 12px;
}
.card-heading img{
    width: 25px;
    height: 25px;
}
.price{
    color: var(--primary-color);
}




/* responsive media query */
@media screen and (max-width: 600px) {
    body{
        margin: 0 auto; 
        /* width: 400px; */
        padding: .8rem 0 .8rem 2.2rem;
    }
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #f393e7d1;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        border: 1px solid wheat;

    }
    .menu li{
        margin-top: 40px;
    }
    .menu li a{
        padding: 10px;
    }
    .open-menu,
    .close-menu{
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }

    .banner{
        /* border: 10px dashed green; */
        min-width: 250px;
        width: 400px;
        /* width: 100%; */
    }
    .banner h1{
        font-size: large;
    }
    .banner-items{
        flex-direction: column;
        gap: 1rem;
    }
    
    .popular-tour{
        /* display: none; */
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    .popular-tour div{
        padding: 1rem;
        /* border: 1px solid silver; */
        width: 100%;
    }
    .hill-image img{
        min-width: 200px;
        width: 400px;
        margin-left: -20px;
    }
    .popular-tour ul{
        margin-left:2rem;
    }

    .destination>div{
        flex-direction: column;
    }
    .tourimg{
        width: 100%;
        background-size: cover;
    }
    .destination>h2, .destination>p{
        text-align: center;
        margin: 30px auto;
    }
    .why-choose-us{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }
    .card-rows{
        /* border: 2px dashed green; */
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 5px;
    }
    .card{
        /* border: 1px solid #131318; */
        width: 100%;
    }

    .neswletter{
        /* border: 2px solid firebrick; */
        flex-direction: column;
    }
    .subscribe{
        width: 100%;
    }
    .save-travell{
        width: 100%;
    }
    .save-travell img{
        width: 100%;
        
    }
    .save-btn{
        position: relative;
        top: -143px;
        right: -10px;
        transform: rotate(-30deg);
    }


    .footer{
        padding-left: 50px;
        text-align: center;
    }
    hr{
        display: none;
    }

    .customer-card-container{
        grid-template-columns: 1fr;
    }


    .discount{
        margin: 0;
        padding: 0;
        /* border: 2px solid rebeccapurple; */
        width: 100%;
    }
    .discount>h2, .discount>p{
        text-align: center;
    }
    .disc-card-container-2,
    .disc-card-container-1{
        padding: 3rem;
        border-radius: 16px;
        width: 100%;
        height: 50%;
    }
    .disc-card-container-2 .disc-card{
        margin:0 auto;
        width: 100%;
    }
    .discount .disc-card{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 16px;
        text-align: center;
    }
    .disc-card .disc-content p{
        display: none;
    }
    .disc-card .disc-content h3{
        font-size: medium;
    }
    
    .card-heading{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}